<!DOCTYPE html>
<html ng-app="flow" ng-controller="flowCtrl">
<head>
	<title>Flow</title>
	<meta charset="utf-8"><!-- html5 version of http-equiv="Content-Type"... -->
	<meta name="description" content="FastFlow flowing as a webapp using Chrome Service Worker's for offline capabilities">
	<meta name="keywords" content="Debate">
	<link rel="author" href="http://atowers.info" />
	<link rel="canonical" href="https://flow.fastflowdebate.com" />
</head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="build/bundle.js"></script>
<div class="version__indicator">v{{version}}</div>
<body>
	<nav>
		<div class="nav-wrapper purple">
			<a href="#" class="brand-logo"><img id="navImg" src="app.png"></a>
			<ul class="right">
				<li><a ng-click="newFlow()"><i class="material-icons">add_box</i></a></li>
				<li><a ng-click="lsManagerOpen()"><i class="material-icons">dashboard</i></a></li>
			</ul>
		</div>
	</nav>
	<main>
		<div class="input-field card">
			<input placeholder="Flow Title: ToC Finals 2016" id="flowTitle" type="text" ng-model="flow.title">
			<a ng-click="save()" ng-show="!isSaved" class="saveBtn titleBtn"><i class="material-icons md-30">save</i></a>
			<a ng-click="emitExpand()" class="flowExpandBtn titleBtn"><i class="material-icons md-30">transform</i></a>
		</div>
		<div id="flowContainer">
			<flow data="flow.dataL" id="L" team="flow.leftTeam"></flow>
			<flow data="flow.dataR" id="R" team="flow.rightTeam"></flow>
		</div>
	</main>
</body>
<div ng-controller="lsManager">
	<div id="lsManagerModal" class="modal">
		<div class="modal-content">
			<h4>Manage Saved Flows</h4> {{message}}
			<table class="highlight">
				<thead>
					<tr>
						<th data-field="Name">Name</th>
						<th data-field="Team1">Team</th>
						<th data-field="Team2">Team</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="f in flowTable">
						<td>{{f.name}}</td>
						<td>{{f.teamL}}</td>
						<td>{{f.teamR}}</td>
						<td><a ng-click="open(f.id)" class="waves-effect waves-green btn-flat"><i class="material-icons">send</i></a></td>
						<td><a ng-click="beginDelete(f.id)" class="waves-effect waves-red btn-flat"><i class="material-icons">close</i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Never mind</a>
		</div>
	</div>
	<div id="delConfirmation" class="modal">
		<div class="modal-content">
			<h4>Delete Modal</h4>
			<p>Are You sure you would like to delete this flow, this action is not reversible.</p>
		</div>
		<div class="modal-footer">
			<a ng-click="completeDelete()" class="modal-action modal-close waves-effect waves-red btn-flat">Delete</a>
			<button class="modal-action modal-close waves-effect waves-red btn-flat">Never mind</button>
		</div>
	</div>
	<div id="unsavedModal" class="modal">
		<div class="modal-content">
			<h4>Work Unsaved</h4>
			<p>Unless you save your flow the data will be lost!</p>
		</div>
		<div class="modal-footer">
			<a ng-click="forceNewFlow()" class="modal-action modal-close waves-effect waves-red btn-flat">Continue</a>
			<button class="modal-action modal-close waves-effect waves-red btn-flat">Never mind</button>
		</div>
	</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-92780519-2', 'auto');
  ga('send', 'pageview');
</script>

</html>
